
.preview {
   border:solid;
   background-color:aquamarine
}
.previewsecondLevel {
    color: black;
    font-family: Arial;
    font-size:large;
    color:brown
}

p3 {
    color:crimson;
    font-family: Arial;
    font-size: larger;
}
