
@{
    ViewBag.Title = "NewOne";
}

<div class="preview">
    <div class="previewsecondLevel">Try it myself</div>
    <p3>Hello World</p3>
    <div class="row">
        <div class="col-sm">
            First Columns
        </div>

        <div class="col-sm">

            Second Columns

        </div>

        <div class="col-sm">

            Third Colums

        </div>

    </div>
</div>
